<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css">
         <!-- font awesome headercdn link -->
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
         <!-- custom css file link -->
         <link rel="stylesheet" href="../css/style.css"/>
         <link rel="icon" href="../images/utensils-solid (1).svg"/>
    </head>
<body>
        <!-- header section start -->
            <section class="header">
                <a href="/admin" class="logo"><i class="fas fa-utensils"></i>Admin.</a>
                <!-- <nav class="navbar">
                    <a href="/admin">Admin</a>
                </nav>
        
                <div id="menu-btn" class="fas fa-bars"></div> -->
            </section>
        <!-- header section end -->


    <div class="menuform">
        <h1 class="menu-title">Edit Menu</h1>
        <div class="addmenu">
            <form action="/update/<%= menu._id %>" method="post" class="formmenu" enctype="multipart/form-data">
                    <div class="input-group w50">
                        <label for="name">Food Name</label>
                        <input  
                            type="name" 
                            name="fullname" 
                            class="input-control" 
                            placeholder="Full Name"
                            value="<%= menu.name %>"
                        />
                    </div>

                    <div class="input-group w50">
                        <label for="name">Food Desc</label>
                        <input 
                            type="name" 
                            name="desc" 
                            class="input-control" 
                            placeholder="Food Desc"
                            value="<%= menu.desc %>"
                        />
                    </div>

                    <div class="input-group w50">
                        <label for="price">Food Price</label>
                        <input 
                            type="name" 
                            class="input-control" 
                            name="price" 
                            placeholder="Food Price"
                            value="<%= menu.price %>"
                            />
                    </div>    

                    <div class="input-group row">
                        <label for="category">Select Category</label>
                        <select class="input-control" name="category" aria-label="category">
                            <option selected>Select Category</option>
                            <option value="Breakfast">Breakfast</option>
                            <option value="Lunch">Lunch</option>
                            <option value="Dinner">Dinner</option>
                            <option value="Drinks">Drinks</option>
                            <option value="Dessert">Dessert</option>
                        </select>
                    </div>

                    <div class="input-group" style="margin-bottom: 8px;">
                        <label for="image">Food Image</label>
                        <input type="file" name="image" class="input-control" />
                        <img src="<%= menu.image %>" alt="<%= menu.name %>" width="200">
                    </div>
                    <input type="hidden" name="old_image" value="<%= menu.image %>"/>

                    <div class="input-group">
                        <button type="submit" class="btn-1" >Update Menu</button>
                    </div>
       
            </form>
        </div>
    </div>

            <!-- custom js
            <script src="js/admin-script.js"></script> -->
</body>
</html>